@using TimeTableLibrary.Extensions; 
@model Dictionary<string, string>
@{
	ViewData["Title"] = "SubjectsMapping";
}

<h2 class="text-center">Subjects Mapping</h2>

	<div class="form-horizontal">
		<div class="form-group">
			@for (int counter = 0; counter < Model.Keys.Count; counter++)
			{
			<div class="form-group row">
				<div style="border:dotted; border-width:1px" >
					<div class="col-lg-6">
						<label class="col-xs-6" style="float: none; margin-top : 10px" asp-for="@Model.IndexOf(counter).Key">@Model.IndexOf(counter).Key</label>
					</div>
					<div class="col-lg-6">
						<input list ="groups" class="col-xs-6" id="@counter" style="float: none; margin-top : 10px" type="text" asp-for="@Model.IndexOf(counter).Value" />
						<datalist id="groups">
							@foreach (var item in ViewBag.Subjects)
							{
								<option value=@item.Name id="@item.Id" />
							}
						</datalist>
					</div>
				</div>
			</div>
			}
		</div>
	</div>
	<input type="submit" value="Save" class="btn btn-primary" onclick="Submit()"/>


<script>
	function Submit() {
		var i;
		var ids = new Array(@Model.Count);
		for (i = 0; i <@Model.Count; i++) {
			ids[i] = $("#" + i).val();
		}
		$.post("SubjectsMapping", { MappedSubjects: ids });
	}
</script>